
    body {
      text-align: center;
      background: url("https://imgur.com/a/SrDzl5Z");
      background-size: cover;
      background-position: center;
      color: black;
      font-family: courier;
    }
h1 {
  font-size: 5em;
  text-align: center;
}
